<form [formGroup]="userForm" (ngSubmit)="onSave()">
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter name" />
    <mat-error *ngIf="userForm.get('name')?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter email" />
    <mat-error *ngIf="userForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="userForm.get('email')?.hasError('email')">
      Invalid email format
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role">{{
        role
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="userForm.get('role')?.hasError('required')">
      Role is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
      placeholder="Enter password"
    />
    <mat-error *ngIf="userForm.get('password')?.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
      Password must be at least 6 characters
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirm password"
    />
    <mat-error *ngIf="userForm.get('confirmPassword')?.hasError('required')">
      Confirm Password is required
    </mat-error>
    <mat-error *ngIf="userForm.hasError('mismatch')">
      Passwords do not match
    </mat-error>
  </mat-form-field>

  <div class="flex justify-end gap-4">
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="userForm.invalid"
    >
      Save
    </button>
  </div>
</form>
