@use '@angular/material' as mat;
@import './styles/custom-colors';

@tailwind base;
@tailwind components;
@tailwind utilities;


@include mat.core();

$car-store-primary: mat.define-palette(mat.$indigo-palette);
$car-store-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$car-store-warn: mat.define-palette(mat.$red-palette);
$car-store-theme: mat.define-light-theme((
  color: (
    primary: $car-store-primary,
    accent: $car-store-accent,
    warn: $car-store-warn,
  )
));

@include mat.all-component-themes($car-store-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
